.desc-container {
  word-break: break-all;
}

.app-field-div {
  display: flex;
  flex-direction: row;
}

.app-field-input-browser {
  margin-right: 0.33em;
}

.app-field-input-mobile {
  margin-right: 0.33em;
  margin-bottom: 0.33em;
}
