.app-detail-container{
    margin-bottom: 1.5em;
}
.app-logo-container{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
.app-branding-container{
    display: flex;
}
.app-branding-text{
    flex-grow: 1;
}
.delete-button-container{
    margin-top: 1em;
}
.vertical-center{
    display: flex;
    align-items: center;
}
.warninig-container{
    margin: 0.5em 0;
}

.app-scope-segment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-scope-header{
    display: inline;
    margin-bottom: 0!important;
}