.desc-container{
    word-break: break-all;
}

.appfield_div{
    display: flex;
    flex-direction: row;
}

.appfield_input{
    margin-right: 0.33em;
}

@media (max-width: 460px) {
    .appfield_input{
        margin-bottom: 0.33em;
    }
}
